.olaro{
    background-color: lightblue;
    height: 400px;
    width: 1200px;
    margin:auto;
}
.div1{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div2{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div11{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 400px;
    margin:10px;

}
.div12{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 400px;
    margin:10px;

}


