.olaro{
    background-color: lightblue;
    height: 400px;
    width: 1200px;
    margin:auto;
}
.div1{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div2{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div11{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 430px;
    margin:30px;

}
.div12{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 430px;
    margin:30px;

}.div21{
        background-color: rgb(255, 239, 239);
    height: 250px;
    width: 200px;
    margin:20px;
    float: left;

}

.div22{
        background-color: rgb(255, 239, 239);
    height: 250px;
    width: 200px;
    margin:20px;
    float: left;

}



