.olaro{
    background-color: lightblue;
    height: 400px;
    width: 1200px;
    margin:auto;
}
.div1{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div2{
    background-color: rgb(37, 37, 37);
    height: 300px;
    width: 500px;
    margin:50px;
    float: left;
}
.div11{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 430px;
    margin:30px;

}
.div12{
    background-color: rgb(255, 239, 239);
    height: 100px;
    width: 430px;
    margin:30px;

}.div21{
        background-color: rgb(255, 239, 239);
    height: 250px;
    width: 210px;
    margin:20px;
    float: left;

}

.div22{
        background-color: rgb(255, 239, 239);
    height: 250px;
    width: 210px;
    margin:20px;
    float: left;

}



.me11{
background-color: red;
height: 500px;
width: 800px;
margin: 30px;

padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
}

.me13{
    background-color: blueviolet;
    height: 200px;
    width: 400px;
}

.me14{
    background-color: wheat;
    height: 300px;
    width: 400px;
}


.me12{
    background-color: grey;
    width: 650px;
    height: 400px;
    padding: 20px;
    margin: 50px;
    float: right;
}

.you{
    background-color: violet;
    height: 200px;
    width: 400px;
    margin: 20px;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    float: right;
}

.one{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}


.peter{
    background-color: lightblue;
    height: 400px;
    width: 100%;
    margin:auto;
    

}